/*==========================================================================*/
/*========================= CÁC THIẾT LẬP BAN ĐẦU CHO WEBSITE ==============*/
/*==========================================================================*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
img{
    display: block;
    max-width:100%;
}
a{
    text-decoration: none;
}
body{
    font-family: "Abeezee",sans-serif;
    font-size: 16px;
    color: black;
    line-height: 1.5;
}

/*==========================================================================*/
/*==========================================================================*/